{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["./node_modules/prettier-plugin-jsdoc/dist/index.js"],
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "jsdocPrintWidth": 200,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "semi": true,
        "trailingComma": "es5",
        "printWidth": 100
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
